@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

:root{
    --background-color: rgb(244, 238, 238);
    --shadow-color: rgba(0, 0, 0, 0.175);
    --text-color: black;
}

html{
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* ----------------------header--------------------------- */
header .container{
    box-shadow: 0px 0px 4px 2px var(--shadow-color);
}

header .container .header_container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_container .header_heading{
    font-size: 2rem;
}

.header_container .night_mode_container{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
}

.header_container .night_mode_container h4{
    font-weight: 500;
}

/* ---------------------------main----------------------- */
.main_container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.main_container .back_button{
    /* background-color: red; */
    width: fit-content;
    padding: 0.6rem 1.6rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px 0px var(--shadow-color);
}

.main_container .country_container{
    display: flex;
    gap: 4rem;
    align-items: center;
}

.country_container .country_flag{
    width: 45%;
}

.country_container .country_flag img{
    width: 100%;
    /* border: 2px solid var(--shadow-color); */
    max-height: 350px;
}

.country_container .country_details{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.country_details .country_name{
    font-size: 2.5rem;
}

.country_details .country_detail{
    display: flex;
    gap: 7rem;
}

.country_details .country_detail p{
    padding-bottom: 0.5rem;
    font-weight: 400;
    font-size: 0.9rem;
}

.country_details .country_detail p b{
    font-size: 1rem;
    font-weight: 600;
}

.border_countries{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 6px;
}

.border_countries a{
    padding: 0.2rem 1rem;
    border: 1px solid var(--shadow-color);
    border-radius: 1rem;
}